<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="FastAPIHttpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\estimate\backend\web\env\Scripts\python.exe" arguments="-m uvicorn --port %HTTP_PLATFORM_PORT% main:app" stdoutLogEnabled="true" stdoutLogFile="C:\estimate\backend\web\iis_log\iis.log" startupTimeLimit="120" requestTimeout="00:05:00">
        </httpPlatform>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <add value="main.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>